In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv('houseprice.csv')
df

   area  bedrooms  old    price
0   400       3.0    5  1050000
1   600       4.0   15   950000
2  3200       NaN   15  6500000
3  3600       3.0   30  5900000
4  4000       5.0    8  7600000
5  4100       4.0    8  8100000

In [3]:
#Fill in the empty values with median
df[['bedrooms']] = df[['bedrooms']].fillna(df.bedrooms.median())
df

   area  bedrooms  old    price
0   400       3.0    5  1050000
1   600       4.0   15   950000
2  3200       4.0   15  6500000
3  3600       3.0   30  5900000
4  4000       5.0    8  7600000
5  4100       4.0    8  8100000

In [4]:
#split training set
train = df.drop('price',axis='columns')
train

   area  bedrooms  old
0   400       3.0    5
1   600       4.0   15
2  3200       4.0   15
3  3600       3.0   30
4  4000       5.0    8
5  4100       4.0    8

In [5]:
test = df.price

# Linear Regression

In [6]:
reg = linear_model.LinearRegression()

reg.fit(train,test)

LinearRegression()

In [7]:
#Coefficient : m
reg.coef_

array([  1936.58596613, -51664.3574645 , -50451.57056132])

## intercept: b

In [10]:
reg.intercept_

763856.7626200952

In [8]:
reg.predict([[2500,3,10]])

array([4945812.89993255])

In [11]:
# y = mx1+mmx2+mx3+b
1936.58596613*2500+-51664.3574645*3-50451.57056132*10 + 763856.7626200952

4945812.899938395